# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - n2k-portal-backend

on:
  push:
    branches:
      - Development
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    environment: Development
      
    steps:
      - uses: actions/checkout@v4
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release
        
      - name: copy config
        run: |
          copy natura2000_portal_back/Configs/appsettings_dev.json natura2000_portal_back/appsettings.json  
          del natura2000_portal_back/Configs/*.json
          rmdir natura2000_portal_back/Configs

      - name: dotnet publish
        shell: pwsh
        run: |
          $publishDir = "C:\Users\runneradmin\AppData\Local\Microsoft\dotnet/myapp"
          # Publish project
          dotnet publish -c Release --property:PublishDir=$publishDir

          # Create multi-line .env file
          @"
          BackboneDB_ConnectionString=${{ secrets.BACKBONEDB_CONNECTIONSTRING }}
          ReleasesDB_ConnectionString=${{ secrets.RELEASESDB_CONNECTIONSTRING }}
          FME_TOKEN=${{ secrets.FME_TOKEN }}
          "@ | Out-File -FilePath "$publishDir\env" -Encoding utf8

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: C:\Users\runneradmin\AppData\Local\Microsoft\dotnet/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'n2k-portal-back'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_71F1A85C334548A08092BE0DA6A30293 }}
          package: .
  
